<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Family History Technology Workshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
  </head>
  <body>
    {% block header %}
    <div class="container-fluid">
      <div class="row">
	<div class="col-xs-12 col-med-12 col-lg-4 brand">
	  <a href="/"><img class="logo" src="/static/img/logo.png"></a>
	</div>
	<div class="col-xs-12 col-med-12 col-lg-8">
	  <nav class="navbar navbar-default" role="navigation">
	    <div class="container-fluid">
	      <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		  <span class="sr-only">Toggle navigation</span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		  <span class="icon-bar"></span>
		</button>
	      </div>
	      <div class="collapse navbar-collapse">
		<ul class="nav nav-pills">
		  <li {% if active == "index" %}class="active"{% endif %}><a href={{url_for("index")}}>Home</a></li>
		  <li {% if active == "call-for-papers" %}class="active"{% endif %}><a href={{url_for("show",directory="call-for-papers")}} >Call for Papers</a></li>
		  <li {% if active == "local-information" %}class="active"{% endif %}><a href={{url_for("show",directory="local-information")}} >Local Information</a></li>
		  <li {% if active == "program" %}class="active"{% endif %}><a href={{ url_for("show",directory="program")}} >Program</a></li>
		  <li {% if active == "archive" %}class="active"{% endif %}><a href={{ url_for("show",directory="archive")}} >Archive</a></li>
		  <li id="menu-registration"><a href="https://cereg.byu.edu/o2/index.cfm?event=public.login&redirect=/o2/index.cfm?event=reg.init&product_id=10078461">Registration</a></li>
		</ul>
	      </div>
	    </div>
	</div>
      </div>
    </div>
    {% endblock %}

    <div id="page">
      {% block page %}{% endblock %}
    </div>

    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-38419970-2', 'byu.edu');
ga('send', 'pageview');

    </script>

  </body>
</html>
