<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Family History Technology Workshop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link href="/static/css/app.css" rel="stylesheet">
  </head>
  <body>
    {% block header %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/"><img src="/static/img/favicon.png"></a>
	</div>
	<div id="navbar-collapse" class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
	    <li {% if active == "index" %}class="active"{% endif %}><a href={{url_for("index")}}>Home</a></li>
	    <li {% if active == "call-for-papers" %}class="active"{% endif %}><a href={{url_for("show",directory="call-for-papers")}} >Call for Papers</a></li>
	    <li {% if active == "local-information" %}class="active"{% endif %}><a href={{url_for("show",directory="local-information")}} >Local Information</a></li>
	    <li {% if active == "program" %}class="active"{% endif %}><a href={{ url_for("show",directory="program")}} >Program</a></li>
	    <li {% if active == "archive" %}class="active"{% endif %}><a href="#" class="dropdown-toggle" data-toggle="dropdown">Archive <b class="caret"></b></a>
	      <ul class="dropdown-menu">
		<li><a href={{url_for("show",directory="archive",page="2014")}}>2014</a></li>
		<li><a href={{url_for("show",directory="archive",page="2013")}}>2013</a></li>
		<li><a href={{url_for("show",directory="archive",page="2012")}}>2012</a></li>
		<li><a href={{url_for("show",directory="archive",page="2011")}}>2011</a></li>
		<li><a href={{url_for("show",directory="archive",page="2010")}}>2010</a></li>
		<li><a href={{url_for("show",directory="archive",page="2009")}}>2009</a></li>
		<li><a href={{url_for("show",directory="archive",page="2008")}}>2008</a></li>
		<li><a href={{url_for("show",directory="archive",page="2007")}}>2007</a></li>
		<li><a href={{url_for("show",directory="archive",page="2006")}}>2006</a></li>
		<li><a href={{url_for("show",directory="archive",page="2005")}}>2005</a></li>
		<li><a href={{url_for("show",directory="archive",page="2004")}}>2004</a></li>
		<li><a href={{url_for("show",directory="archive",page="2003")}}>2003</a></li>
		<li><a href={{url_for("show",directory="archive",page="2002")}}>2002</a></li>
		<li><a href={{url_for("show",directory="archive",page="2001")}}>2001</a></li>
	      </ul>
	    </li>
	    <li id="menu-registration"><a href="https://cereg.byu.edu/o2/index.cfm?event=public.login&redirect=/o2/index.cfm?event=reg.init&product_id=10078461">Registration</a></li>
	  </ul>
	</div>
    </nav>
    {% endblock %}

    <div id="page">
      {% block page %}{% endblock %}
      {% include 'footer.html' %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  </body>
</html>
