{% extends "base.html" %}

{% block page %}

{% filter markdown %}

## Scope of the Workshop

The 2014 Family History Technology Workshop will feature
technical presentations and a demo session that will bring
together researchers, developers, and users with emerging
technology. Presentations and demos will focus on enabling
technologies and solutions to problems that impact family
history and genealogical research.

## Who Should Attend

We invite software developers, researchers, technology
professionals from industry and academia, and all who enjoy
presenting and learning about emerging technologies as they
apply to family history and genealogy.

## Topics of Interest

Topics for presentations, demos and publication include:

* Data modeling and extraction of names/places/dates
* Schemas for data mark-up and search
* Genealogical search engines and indexing
* Record linkage, merging and record management
* Trees, managing relationships, matching algorithms
* Collaborative social networks and community building
* Human interfaces, data visualization, display technologies
* Hand-held/mobile technologies and applications
* Information integration and delivery systems
* Digital document acquisition, processing and recognition
* Handwriting recognition and automatic record transcription
* Machine learning, expert and intelligent systems
* Automated research and collaboration assistants
* Cloud computing and security
* Languages and natural language processing
* Open source

{% endblock %}

{% endfilter %}
