{% extends "base.html" %}

{% block page %}

<div class="container-fluid">
<div class="col-md-8">

{% filter markdown %}

## Scope of the Workshop

The 2014 Family History Technology Workshop will feature
technical presentations and a demo session that will bring
together researchers, developers, and users with emerging
technology. Presentations and demos will focus on enabling
technologies and solutions to problems that impact family
history and genealogical research.

## Who Should Attend

We invite software developers, researchers, technology
professionals from industry and academia, and all who enjoy
presenting and learning about emerging technologies as they
apply to family history and genealogy.

## Topics of Interest

Topics for presentations, demos and publication include:

* Data modeling and extraction of names/places/dates
* Schemas for data mark-up and search
* Genealogical search engines and indexing
* Record linkage, merging and record management
* Trees, managing relationships, matching algorithms
* Collaborative social networks and community building
* Human interfaces, data visualization, display technologies
* Hand-held/mobile technologies and applications
* Information integration and delivery systems
* Digital document acquisition, processing and recognition
* Handwriting recognition and automatic record transcription
* Machine learning, expert and intelligent systems
* Automated research and collaboration assistants
* Cloud computing and security
* Languages and natural language processing
* Open source

## How to Submit

Authors should submit a one-page Abstract by February 20, 2014 to
Daniel Zappala at daniel.zappala+fhtw@gmail.com. Submissions will be
peer reviewed by at least two members of the program committee. There
will also be an award for the top student paper.

## Demo Session

If you would like to present your work at the demo session, please
email Doran Wilde at doran_wilde@byu.edu.

{% endfilter %}

</div>

<div class="col-md-4">

<div class="row fluid red-box">

{% filter markdown %}

### Important Dates

Abstract due (one page)  
**20 February 2014**

Notification of Acceptance  
**8 March 2014**

Full (four-page) Paper Submission  
**15 March 2014**

Workshop  
**20 March 2014**

</div>

{% endfilter %}

<div class="row fluid black-box">

{% filter markdown %}

### Program Committee

**Program Chair**  
Daniel Zappala, BYU

**General Chair**  
Bill Barrett, BYU

**Demo Chair**  
Doran Wilde, BYU

**Program Committee**  
Alan Cannaday, FamilySearch  
Sue Dintelman, Pleiades Software  
Kirk Duffin, NIU  
Dave Embley, FamilySearch/BYU  
Christophe Giraud-Carrier, BYU  
Derek Hansen, BYU  
Doug Kennard, Historic Journals  
Deryle Lonsdale, BYU  
James Mayfield, APL/JHU HLT  
Heath Nielson, FamilySearch  
Oliver Nina, UCF  
Shawn Reid, Ancestry  
Patrick Schone, FamilySearch  
Tom Sederberg, BYU  
Doran Wilde, BYU  
Randy Wilson, FamilySearch  
Scott Woodfield, BYU  

{% endfilter %}

</div>

</div>
</div>

{% endblock %}

