{% extends "base.html" %}

{% block page %}

<div class="container-fluid program">
<div class="col-md-8">

{% filter markdown %}

## Scope of the Workshop

The 2015 Family History Technology Workshop will bring together
developers, researchers, technology professionals, and users to
discuss the future of family history technology and genealogical
research. The workshop will feature developer sessions, lightning
talks, technical presentations, panels, and demos to showcase emerging
and future technologies.

## Developer Talk

Give a 10 to 15 minute talk about new tools, libraries, or languages,
accompanied by a demo of what is being developed. Our emphasis is on
novel approaches that will impact the future of family history
technology.

To submit an idea for a developer talk, send us a 1 - 2 paragraph
description of what you will cover. Include a short biographical
statement and a link to your developer profile on GitHub or other
relevant sites.

## Lightning Talk

Give a 2 to 5 minute presentation on your latest work in family
history technology. We welcome startups, new open source projects,
work-in-progress, or strongly-held (but informative) opinions on where
the future of family history technology will go.

To submit an idea for a lightning talk, send us a one paragraph
description of what you will cover. Include a short biographical
statement and a link to your product or web site and to your social
media profile. Indicate whether you would also like to provide a demo
in between sessions.

## Research Talk

Give a 10 to 15 minute presentation on your research, including key
ideas, algorithms and results. Topics could include data modeling,
extraction, search, natural language processing, document processing,
handwriting recognition, machine learning, expert systems, social
networks, human interfaces, data visualization, mobile technologies,
automated research, cloud computing, security, or other areas of
computing as they relate to family history research. Working demos are
strongly encouraged.

To submit an idea for a research talk, send a 1 - 2 page extended
abstract, including citations, similar to what you would submit to a
technical conference in your field of study. Include a short
biographical statement and a link to your personal web presence and/or
social media profile.

## How to Submit

Presenters should submit the above information by January 19, 2015 to
fhtw@internet.byu.edu. Submissions will be reviewed by members of the
program committee.

{% endfilter %}

</div>

<div class="col-md-4">

<div class="row fluid red-box">

{% filter markdown %}

### Important Dates

Abstract due (one page)  
**19 January 2015**

Notification of Acceptance  
**30 January 2015**

Research Paper Final Version
**10 February 2015**

Workshop  
**10 February 2015**

</div>

{% endfilter %}

<div class="row fluid black-box">

{% filter markdown %}

### Program Committee

**General Chair**  
Bill Barrett, BYU

**Program Chair**  
Daniel Zappala, BYU

**Developer Chair**  
Dallan Quass, BYU

**Program Committee**  
Alan Cannaday, FamilySearch
<br>Sue Dintelman, Pleiades Software  
Kirk Duffin, NIU  
Dave Embley, FamilySearch/BYU  
Christophe Giraud-Carrier, BYU  
Derek Hansen, BYU  
Doug Kennard, Historic Journals  
Deryle Lonsdale, BYU  
James Mayfield, APL/JHU HLT  
Heath Nielson, FamilySearch  
Oliver Nina, UCF  
Jack Reese, Ancestry
<br>Patrick Schone, FamilySearch  
Luther Tychonievich, University of Virginia
<br>Tom Wetmore, Dead Ends Software
<br>Doran Wilde, BYU  
Randy Wilson, FamilySearch  
Justin York, Find-A-Record

{% endfilter %}

</div>

</div>
</div>

{% endblock %}

