{% extends "base.html" %}

{% block page %}

<div class="container-fluid">
  <div class="row logo-banner">
    <img class="logo" src="/static/img/logo.png">
  </div>
</div>

<div class="date-banner">
  <div class="container-fluid">
    <div class="row">
      <h1>20 March 2014, BYU Conference Center</h1>
    </div>
  </div>
</div>

<div class="title-banner">
  <div class="container-fluid">
    <h1>Developing the technology for tomorrow's genealogy</h1>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
	<p>Technical presentations, demos, algorithms, code. Handwriting
	  recognition, automated record transcription, data modeling, machine
	  learning, natural language processing, visualization, human
	  interaction, user experience. Any technology that makes
	  family history better.</p>
      </div>
    </div>

    <div class="row image-banner">
      <div class="center">
	<img src="/static/img/green-indexing.png"></img>
	<img src="/static/img/historic.png" class="hidden-sm hidden-xs"></img>
	<img src="/static/img/superstructure.png" class="hidden-md hidden-sm hidden-xs"></img>
      </div>
    </div>
  </div>
</div>

<div class="footer-banner">
  <div class="container-fluid">
    <div class="row project-description">
      <div class="col-md-offset-2 col-md-8">
	<h2 class="center">About the Workshop</h2>
	<p>The Family History Technology Workshop has been held for 14
	years, at both BYU and at RootsTech in Salt Lake
	City. Attendees include researchers, software developers, and
	professionals, brought together by their shared passion for
	improving family history technology.</p>
      </div>
    </div>
    <div class="row footer">
      <div class="col-md-offset-2 col-md-8">
	<p>Papers and presentations are copyright by their authors.
	You may print or copy them for personal, non-commercial use.
	For all other uses, please contact the authors.</p>

	All other web site materials released via <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a>
      </div>
    </div>
  </div>
</div>



{% endblock %}
