{% extends "base.html" %}

{% block page %}

<div class="container program">
<div class="span12">

{% filter markdown %}

## 2015 Program

**7:30 Registration**

**8:00 Continental Breakfast**

**9:00 Invited Speaker**

*Life of a 21st Century Genealogist: What do they do, and what do they need in the future?*, Joseph Shumway, Ancestry ProGenealogists

**9:45 Lightning Talks**

1. Wesley Eames, AncestorCloud
1. Jeff Haddon, HistoryLines
1. Charles Knutson, Kinpoint
1. Kent Andersen, A Life Story
1. Steve Pedersen, RootsBid
1. Charles Glancy, Peer Trees
1. Jed Wood, Generasi
1. Kimball Clark, kindex
1. Nathan Brakke, Soal
1. Dan Rodziewicz, BYU Family History Technology Lab
1. Doug Kennard, Historic Journals
1. Aaron Shelley, Family Feats
1. Glen Chidester, ScanStone
1. Jessie Young, One Page Genealogy
1. Bill Harten, Puzilla
1. Robert Ball, Where Am I From? Showing Geospatial Location of Ancestors Through A Generational Perspective
1. Ben Baker and Joel Thornton, Viewing Closest Relatives in the My Relatives View of FamilySearch Family Tree
1. Joohan Lee & Geoffrey Draper, Timeline-Enhanced Portrait Charts
1. Curtis Wigington, William Barrett, Virtual Pedigree 
1. Alan Cannaday, Auto-Zoning Newspaper Articles for the Purpose of Corpus Development for Training OCR Systems
1. Peter Ivie, Evan Ivie, Record linkage confidence through top match score analysis
1. Brian Davis, William Barrett, Scott Swingle, 3D graph cut: Extending min-cut segmentation to handle overlap of cursive handwriting in tabular documents

**10:30 Demo Session**

**11:00 Devotional, Demos, and Networking**

**12:00 Lunch**

**1:00 Invited Speaker**

*The future of family history technology*, Curt Witcher, Allen County Public Library

**1:45 Developer Session**

1. *Source Linker: Bridging the Evidence-Conclusion Gap*, Randy Wilson, FamilySearch

1. *Evolving Family Structures: Representation and Visualization*, 
Robbie Hott, W. N. Martin and K. Flake, University of Virginia

1. New Apps, New Gallery, New Future*, Gordon Clarke, FamilySearch

1. *The Future of Family History Technology: Challenges, Opportunities and Data Sets*, Jake Gehring, FamilySearch

**2:45 Break**

**3:00: Academic Session**

1. *Enabling Efficient Chinese Jiapu Information Extraction*, Stephen Liddle, Derek Dobson, David Embley, and Chuck Liu, Brigham Young University

1. *CONFIRM - Clustering Of Noisy Form Images using Robust Metrics*, Chris Tensmeyer and Tony Martinez, Brigham Young University

1. *Learning Alternative Name Spellings on Historical Records*, Jeffrey Sukharev, Leonid Zhukov, and Alexandrin Popescul, Ancestry, UC Davis, High School of Economics, Moscow

1. *Intelligent Pen: A Least-Cost Search Approach to Historical Document Image Segmentation and Stroke Extraction*, Kevin Bauer and William Barrett, Brigham Young University

**4:15 Panel Discussion**
The Future of Family History Technology

1. Wesley Eames, Ancestor Cloud

1. Jeff Haddon, HistoryLines

1. Jed Wood, Generasi

1. Robert Gardner, Google

1. Jake Reese, Ancestry

1. David Embley, Brigham Young University

{% endfilter %}

</div>
</div>

{% endblock %}
