{% extends "base.html" %}

{% block page %}

<div class="container program">
  <div class="span12">

{% filter markdown %}

## 2020 Program

*Events take place in the Assembly Hall of the Hinckley Center*

**9:00 a.m. Welcome by Mark Clement**

**9:05 a.m. Keynote**

What comes after handwriting recognition?, Jon Morrey (Familysearch)

**10:00 a.m. Lightning Talks (3 minutes each)**

1. Not-for-Profit Genealogy Hub, Dallin Quass

1. File formats for genealogical tree data, Gordon Clarke

1. Visual overlays, Chris Devenport

1. Splycer, Ben Busath

1. Reverse indexing, Joseph Steed

1. Mobile indexing, RLL

1. Transkribus, Grace Evans

1. Hereafter, James Vlahos

1. Customized hints, RLL

1. Hints cleaner, Tom Bryan

1. Museum + connection experiences, Matt Misbach

1. Memri, Arthur Judd

1. Alexa for Family History, Carl Tucker

**10:50 a.m. Break**

**11:20 a.m. Developer Talks/Research Talks (10 Minutes Each)**

1. Reconstructing Defunct Communities Through Technology, Tammy Hepps

1. Goldie May, Richard Miller

1. New developments in The Family History Guide, James Tanner

1. Family History Metadata Working Group (FHMWG), Gordon Clarke

**12:00 p.m. Lunch**

**1:00 p.m. Developer Talks / Research Talks (15 minutes each)**

1. Object Detection for Historical Documents Analysis, Yen-Yun Yu

1. Improving accuracy of language modeling across different lines of text, Seth Stewart

1. Transfer learning for handwritten document processing, Eric Burdett

1. Economical Bimodal Classification of a Massive Heterogeneous Document Collection, Pat Schone

1. Domain Adaptation, Oliver Nina

**2:15 p.m. Afternoon Break**

**2:30 p.m. Developer Talks / Research Talks**

1. Faces, Places, and Kin: Applying Computer Vision to Family History, Douglas Kennard, 15 Minutes

1.  Linking Families with Enriched Ontologies, Dave Embley, 15 minutes

1. Combining Family History and Machine Learning to Link Historical records, Joe Price, 15 minutes

1. Using DNA from many samples to distinguish pedigree relationships of close relatives, Amy Williams, 25 minutes

**3:40-3:50 p.m. Concluding Remarks by Joe Price**

{% endfilter %}

  </div>
</div>

{% endblock %}
