{% extends "base.html" %}

{% block page %}

<div class="container">
<div class="span12">

{% filter markdown %}

## Program

**7:30 Registration**

**8:00 Continental Breakfast**

**9:00 Keynote**  
*Research in the Acquisition Pipeline*, David Embley

**10:00 Session #1: Extraction and Markup of Genealogical Data**  
Chair: Daniel Zappala

1. *Family History Technology: A Survey of Ten Hard Problems*, Doran
Wilde, Brigham Young University

1. *Gapp: An Image Capture Application For The Google Glass Framework*,
Oliver Nina, University of Central Florida

1. *Intelligent Indexing: A Semi-Automated, Trainable System for Field
Labeling*, Robert Clawson and William Barrett, Brigham Young University

1. *Intelligent Pen: A Least-Cost Search for Tracing of Handwriting*,
Kevin Bauer, Brigham Young University

**11:00 Session #2: Visualization**  
Chair: Tom Sederberg

1. *Visualizing Big Data for the Genealogist*, Katie Chapman, Pentandra
Research Solutions

1. *A Family-Centric Genealogy Visualization Paradigm*, Robert Ball and
David Cook, Stephen F. Austin State University

1. *Interactive Folding Fan Charts: Improving User Efficiency through
Seamless Fusion of Multiple Levels of Detail*, Douglas J. Kennard,
Historic Journals LLC

**12:00 Lunch**

**12:45 Demo and Poster Session**

1. *Kinpoint*, Charles Knutson, Brigham Young University
[Kinpoint](https://kinpoint.com/)

1. *Interactive Folding Fan Charts on the Historic Journals Website*,
Doug Kennard, Historic Journals, LLC [Historic Journals](https://hjournals.com/)

1. *Relative Finder*, Sam Sieber, William Barrett and Tom Sederberg,
Brigham Young University

1. *Intelligent Pen: A Least-Cost Search for Tracing of Handwriting*,
Kevin Bauer and William Barrett, Brigham Young University

1. *FamilyFound: Accessible Family History Research*, Jared Forsyth,
Brigham Young University

1. *Find-A-Record*, Justin York and John Clark
http://www.findarecord.com

1. *Cycle Sharing for Genealogy*, Peter Ivie and Evan Ivie

1. *Virtual Pedigree—Genealogy Without Borders*, Curtis Wigington and
Ryan Cheatham, Brigham Young University

1. *One Page Genealogy: Affordable Portable Pedigree (The Killer APP)*,
Jason Rasmussen

1. *Streamlining the Genealogy User Experience*, Patrick Brown and
Robert Ball

**1:30 Session #3: Data Storage and Modeling**  
Chair: Randy Wilson

1. *Retrieving a Sorted List of Thousands of Closest Relatives from
FamilySearch Family Tree in Seconds using NoSQL*, Ben Baker,
FamilySearch

1. *Research Cases: An Alternative Approach to Genealogical Research
Collaboration*, Chris Chapman

1. *A Superstructure for Organizing Family History Information*, David
W. Embley and Scott N. Woodfield, Brigham Young University

1. *Finding Genealogy Facts with Linguistic Analysis*, Peter Lindes,
Deryle Lonsdale, David Embley, Brigham Young University

**2:30 Break**

**3:00 Session #4: Improving the User Experience**  
Chair: Doug Kennard

1. *Relative Finder*, Sam Sieber and Tom Sederberg, Brigham Young
University

1. *The Heart of Genealogy*, Robert Ivie, Peter Ivie, and Evan Ivie

1. *Virtual Pedigree—Genealogy Without Borders*, Ryan Cheatham, Curtis
Wigington, William Barrett, Brigham Young University

**4:00 Closing Remarks**  
William Barrett, Brigham Young University

{% endfilter %}

</div>
</div>

{% endblock %}

